
<div *ngIf="isActive; else billTableRow">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="app-theme">{{ bill.title }}</h3>
      <h3 class="app-theme">{{ bill.amount }} {{ bill.unit }}</h3>
      <h4>created by
        <span class="app-user-username">{{ bill.creator.username }}</span> at
        <span class="app-datetime">{{ bill.createDate | date:'medium' }}</span>
      </h4>
    </div>

    <div class="panel-body">

      <h4>
        PAYMENTS ({{ bill.getPaymentSum() }})
        <a class="app-btn-badge" (click)="onAddPayment()">add</a>
      </h4>

      <table class="table table-hover" *ngIf="bill.getPayments().length !== 0; else billNoPayments">
        <thead>
        <tr>
          <td>Paid by</td>
          <td>Amount</td>
          <td></td>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of bill.getPayments()">
          <td>{{ dataService.retrieveUser(item.user).username }}</td>
          <td>{{ item.amount }}</td>
          <td>
            <a class="app-btn-badge" (click)="onDeletePayment(dataService.retrieveUser(item.user).pk)">delete</a>
          </td>
        </tr>
        </tbody>
      </table>

      <hr>

      <h4>
        DEBTS ({{ bill.getDebtSum() }})
        <a class="app-btn-badge" (click)="onAddDebt()">add</a>
      </h4>

      <table class="table table-hover" *ngIf="bill.getDebts().length !== 0; else billNoDebts">
        <thead>
        <tr>
          <td>Owed by</td>
          <td>Amount</td>
          <td></td>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of bill.getDebts()">
          <td>{{ dataService.retrieveUser(item.user).username }}</td>
          <td>{{ item.amount }}</td>
          <td>
            <a class="app-btn-badge" (click)="onDeleteDebt(dataService.retrieveUser(item.user).pk)">delete</a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="panel-footer">

      <div class="btn-group">
        <button type="button" class="btn btn-danger" (click)="onEditFinish('delete')" [disabled]="edit">
          <i class="material-icons mat-icon">delete</i> Remove
        </button>
        <button type="button" class="btn btn-primary" (click)="onEditClick()" [disabled]="edit">
          <i class="material-icons mat-icon">edit</i> Edit
        </button>
        <button type="button" class="btn btn-warning" (click)="onEditFinish('discard')" [disabled]="!edit">
          <i class="material-icons mat-icon">refresh</i> Discard
        </button>
        <button type="button" class="btn btn-success" (click)="onEditFinish('save')" [disabled]="!edit">
          <i class="material-icons mat-icon">save</i> Save
        </button>
      </div>

    </div>

  </div>

</div>

<ng-template #billTableRow>
  <h3 class="app-theme">{{ bill.title }}</h3>
</ng-template>

<ng-template #billNoPayments>
  <h4 class="app-theme">No Payments</h4>
</ng-template>

<ng-template #billNoDebts>
  <h4 class="app-theme">No Debts</h4>
</ng-template>
