
<div class="panel panel-primary">

  <div class="panel-heading">
    <h3>sss{{ dataService.selectedGroup.title }}</h3>
  </div>

  <div class="panel-body">
    <table class="table table-hover">

      <thead></thead>

      <tbody>
      <tr *ngFor="let user of dataService.selectedGroup.users">
        <td>
          {{ user.username }}
        </td>
      </tr>
      </tbody>

    </table>
  </div>

</div>

<table class="table table-hover">

  <thead></thead>

  <tbody>
    <tr *ngFor="let bill of dataService.selectedGroup.bills" (click)="setActiveBill(bill)">
      <td>
        <app-bill [billId]="bill" [isActive]="false" (reloadGroup)="onReloadBills()"></app-bill>
      </td>
    </tr>
  </tbody>

</table>
