
<div class="panel panel-primary">

  <div class="panel-heading">
    <h3>{{ dataService.selectedGroup.title }}</h3>
  </div>

  <div class="panel-body">
    <table class="table table-hover">
      <thead></thead>

      <tbody>
      <tr *ngFor="let user of dataService.selectedGroup.users">
        <td>
          {{ user.username }}
        </td>
      </tr>
      </tbody>
    </table>

    <div class="btn-group">
      <button type="button" class="btn btn-success" (click)="onAddBillClicked()">
        <i class="material-icons mat-icon">add</i> Add Bill
      </button>
      <button type="button" class="btn btn-danger" (click)="onDeleteGroupClicked()">
        <i class="material-icons mat-icon">delete</i> Remove Group
      </button>
    </div>

    <div class="container" style="height: 30px;"></div>

    <div *ngIf="this.dataService.listBill( dataService.selectedGroup.pk ).length === 0; else tableBillContainer;">
      <h3 style="text-align: center;">No Bills</h3>
    </div>

    <ng-template #tableBillContainer>
      <table class="table table-hover">
        <thead></thead>
        <tbody>
        <tr *ngFor="let bill of this.dataService.listBill( dataService.selectedGroup.pk )" (click)="setActiveBill(bill)">
          <td>
            <app-bill [currentBill]="bill.pk" [isActive]="dataService.selectedBill && dataService.selectedBill.pk === bill.pk" (reloadGroup)="onReloadBills()"></app-bill>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </div>

</div>
